.container-fluid{
    background-image: linear-gradient(rgb(109, 170, 218),rgb(155, 218, 223));
}
.mainRow{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.pageTitle{
    height: 7vh;
    width: 100vw;
}
#pageTitle{
    font-size: 32px;
    margin-left: 4vw;
    display: block;
}
.content{
    height: 35vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.upper .col-sm-6{
    width: 50vw;
    display: block;
    justify-content: center;
    align-content: center;
    padding-left: 25px;
}
.lower .col-sm-6{
    width: 50vw;
    display: block;
    justify-content: center;
    align-content: center;
    padding-left: 25px;
}
.DisplayText{
    font-size: 28px;
    height: 8vh;
    text-align: center;
}
.chartHolder{
    height: 56vh;
    width: 90vw;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.05);
}
.key{
    font-size: 25px;
    margin-top: 5vh;
    margin-left: 9vw;
}
#colorKey{
    border: 2px solid black;
    width: 4vw;
    height: 4vh;
}
#colorText{
    width: 20vw;
    height: 3vh;
    padding-top: 0.6vh;
    margin-left: 1vw;
    text-align: left;
    color: black;
}
.Value{
    display: flex;
    justify-content: left;
    align-content: center;
    margin: 20px;
}